body{
    background-color:  #E05A24;
}

div#page{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EF8C37;
    border-radius: 50px;
}
::placeholder {
    text-align: center; 
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
input{
    border-radius: 20px;
}
